<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Intro to Vue</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="product">
      <div class="product-image">
        <img :src="image" alt="Socks">
      </div>
      <div class="product-info">
        <h1>{{ product }}</h1>
        <p v-show="inStock">In stock</p>

        <ul v-for="detail in details">
          <li>{{ detail }}</li>
        </ul>

        <div v-for="variant in variants" :key="variant.id">
          <p>{{ variant.color }}</p>
        </div>

      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        product: 'Socks',
        image: './assets/images/vmSocks-green-onWhite.jpg',
        inStock: true,
        details: ['80% cotton', '20% polyester', 'Gender-neutral', ],
        variants: [
          { id: 2234, color: 'green', },
          { id: 2235, color: 'blue', },
        ],
      },
    });
  </script>
</body>
</html>