<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Intro to Vue</title>
  <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
  <div class="nav-bar"></div>
  <div id="app">
    <div class="cart">
      <p>Cart ({{ cart.length }})</p>
    </div>

    <product :premium="premium" @add-to-cart="updateCart"></product>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    Vue.component('product-review', {
      template: `
        <form class="review-form" @submit.prevent="onSubmit">
          <p v-if="errors.length">
            <b>Please correct the following error(s):</b>
            <ul>
              <li v-for="error in errors">{{ error }}</li>
            </ul>
          </p>
          <p>
            <label for="name">Name</label>
            <input name="name" id="name" v-model="name">
          </p>
          <p>
            <label for="review">Review</label>
            <textarea name="review" id="review" v-model="review"></textarea>
          </p>
          <p>
            <label for="rating">Rating</label>
            <select name="rating" id="rating" v-model.number="rating">
              <option></option>                
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </p>
          <button type="submit">Save</button>
        </form>
      `,
      data() {
        return {
          name: null,
          review: null,
          rating: null,
          errors: [],
        };
      },
      methods: {
        onSubmit() {
          let { name, review, rating } = this;
          if (name !== null && review !== null && rating !== null) {
            let productReview = { name, review, rating };
            this.$emit('add-to-review', productReview);
            this.name = null;
            this.review = null;
            this.rating = null;
          } else {
            this.errors = [];
            if (name === null) {
              this.errors.push("Name is required.");
            }
            if (review === null) {
              this.errors.push("Review is required.");
            }
            if (rating === null) {
              this.errors.push("Rating is required.");
            }
          }
        },
      },
    });

    Vue.component('product', {
      props: {
        premium: {
          type: Boolean,
          required: true,
        },
      },
      template: `
        <div class="product">
          <div class="product-image">
            <img :src="image" alt="Socks">
          </div>
          <div class="product-info">
            <h1>{{ title }}</h1>
            <p>Shipping: {{ shipping }}</p>

            <p v-if="inStock">In stock</p>
            <p v-else>Out stock</p>

            <ul v-for="detail in details">
              <li>{{ detail }}</li>
            </ul>

            <div
              v-for="(variant, index) in variants"
              :key="variant.id"
              class="color-box"
              :style="{ backgroundColor: variant.color }"
              @mouseover="updateProduct(index)"
              >
            </div>

            <button v-on:click="addToCart" v-bind:disabled="!inStock" :class="{ disabledButton: !inStock }">Add to Cart</button>

          </div>

          <div>
            <h2>Reviews</h2>
            <p v-if="!reviews.length">There are no reviews yet.</p>
            <ul>
              <li v-for="review in reviews">
                <p>{{ review.name }}</p>
                <p>Rating: {{ review.rating }}</p>
                <p>{{ review.review }}</p>
              </li>
            </ul>
          </div>

          <product-review @add-to-review="updateReviews"></product-review>
        </div>
      `,
      data() {
        return {
          brand: 'Vue Mastery',
          product: 'Socks',
          details: ['80% cotton', '20% polyester', 'Gender-neutral', ],
          variants: [
            { id: 2234, color: 'green', image: './assets/images/vmSocks-green-onWhite.jpg', inStock: true, },
            { id: 2235, color: 'blue', image: './assets/images/vmSocks-blue-onWhite.jpg', inStock: true, },
          ],
          selectedVariant: 0,
          cart: 0,
          reviews: [],
        };
      },
      methods: {
        addToCart() {
          this.$emit('add-to-cart', this.variants[this.selectedVariant].id);
        },
        updateProduct(index) {
          this.selectedVariant = index;
        },
        updateReviews(productReview) {
          this.reviews.push(productReview);
        },
      },
      computed: {
        title() {
          return `${this.brand} ${this.product}`;
        },
        image() {
          return this.variants[this.selectedVariant].image;
        },
        inStock() {
          return this.variants[this.selectedVariant].inStock;
        },
        shipping() {
          return (this.premium) ? 'free': '$ 2.99';
        }
      },
    });
    const app = new Vue({
      el: '#app',
      data: {
        premium: true,
        cart: [],
      },
      methods: {
        updateCart(id) {
          this.cart.push(id);
        },
      },
    });
  </script>
</body>
</html>